// @import "settings";
// @import "foundation";

// Or selectively include components
@import
  "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
  "foundation/components/grid";
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@font-face {font-family: 'FFOCR-FWebProLight';src:url('../fonts/2FB271_0_unhinted_0.woff2') format('woff2'),url('../fonts/2FB271_0_unhinted_0.woff') format('woff'),url('../fonts/2FB271_0_unhinted_0.ttf') format('truetype');}
@keyframes bounce { 0% { bottom:-4px; } 25%, 75% { bottom:-6px; } 50% { bottom:-7px; } 100% { bottom:-5px; } }
$bronze: #98694C; $sauge: #BAB7A5; $beige: #F8F7F0; $noir: #3F3F3D;

*, *:before, *:after { box-sizing: border-box; }

body { width:100%; height:auto; margin:0; }

header { height:100vh; margin:auto; text-align:center; background-color:$sauge; //padding:2em;
    * { user-select:none; }
    p, i { margin:0; color:$noir; cursor:pointer; }
    p { font-family:'FFOCR-FWebProLight', monospace; } }

.top { height:22vh; padding:2em 2em 0 2em;
    .logo { width:402px; height:100px; margin:0 auto; } }

.middle { height:69vh;
    .large-8 { margin:0 auto; padding:0; }
    .typewriter { width:100%; height:54vh; text-align:left; padding:2em 0; font-size:1.25em; font-family:'FFOCR-FWebProLight', monospace; color:$noir; line-height:175%; 
        p { cursor:default; } } 
    .email { width:100%; height:15vh;
        a { text-decoration:none; font-family:"adobe-caslon-pro", serif; font-size:2em; font-style:italic; color:$bronze; position: relative;	display: inline-block; outline: none;
            &:hover, &:focus { outline: none; } 
            
        } } }

.bottom { height:9vh; padding:0 2em 2em 2em;
    img { position:relative; animation:bounce 850ms infinite; width:24px; height:13px; cursor:pointer; } }

.row { margin:0; max-width:100%;
    .left { text-align:left; padding:0; }
    .right { text-align:right; padding:0; } }

#classes { height:140vh; background-color:$beige; 
    h2 { color:$bronze; }
    .row { height:120vh;
        .large-8 { margin:0 auto; padding:0; } }
    // .class { color:$beige; border-bottom:1px solid black;
    //     width:100%; height:50px; display:flex;
    //     &-first {
    //         width:15%; background-color:$noir; font-family:'FFOCR-FWebProLight', monospace; font-size:1em; text-align:center;
    //         p { margin:0; line-height:50px; }
    //     }
    //     &-second {
    //         width:85%; background-color:$bronze; font-family:serif; text-align:center; font-size:1em;
    //         h3 { margin:0; line-height:50px; }
    //     }
    // }
}

#translation { height:120vh; background-color:$beige; 
    h2 { color:$bronze; }
    .row { height:120vh; 
        .large-8 { margin:0 auto; padding:0; } }
        h3 { color:$bronze; font-family:serif; }
    p { color:$bronze; font-family:'FFOCR-FWebProLight', monospace; font-size:0.75em; font-weight:bold; margin:1em 0; line-height:175%; }
    #btn { width:180px; margin:2em 0;}
    img { margin-top:4em;}
    .clients {
        img { margin:0 1.2em; }
        h3 { display:inline-block; vertical-align:top; margin:0; padding:0; text-align:left; } }
}

#redaction { height:80vh; background-color:$noir; 
    h2 { color:$sauge; }
    .row { height:80vh; 
        .large-8 { margin:0 auto; padding:0; } }
    p { color:$sauge; font-family:'FFOCR-FWebProLight', monospace; font-size:0.75em; font-weight:bold; margin:2em 0; line-height:175%; }
    #btn { width:180px; margin:2em 0;}
    img { display:inline; margin:2em auto;}
}

h2 { font-family:"adobe-caslon-pro", serif; font-size:3.25em; font-style:italic; text-decoration:none; margin:0.5em 0; }
#btn { height:30px; border-radius:6px; background:$bronze; color:#fff; border:0; font-family:serif; font-size:1em; }
.container { display:flex; 
    &-first { width:60%; }
    &-second { width:40%; text-align:right; }
}

#contact { height:130vh; background-color:$beige;
    h2 { color:$bronze; }
    
    .row { height:100vh; 
        .large-8 { margin:0 auto; padding:0; } }
    
    ul { list-style:none; font-size:1.25em; font-family:serif; margin-top:0;
        li { color:$bronze; font-weight:bold;
            &:first-child, &:nth-child(4) { color:$noir; padding-bottom:0.5em; }
            &:nth-child(4) { padding-top:0.75em; } }   
    }  
    
    form {
        label, input { display:block; }
        label { padding:0 0 0.75em 0; font-family:serif; color:$noir; font-size:1.25em; font-weight:bold; }
        input { width:100%; padding:0.25em; margin-bottom:1em;}
        #field4 { width:100%; height:150px; resize:none; margin-bottom:1em; } 
        #btn { width:130px; } }
        
    .map { height:30vh; }
}

footer { height:40vh;
    div {
        &:first-child { height:25vh; background-color:$beige; padding:4em 2em;
            p { margin:0; text-align:center; font-style:italic; font-family:"adobe-caslon-pro", serif; color:$bronze; margin:auto; font-size:1.8em; font-weight:bold; } }
        &:nth-child(2) { height:27vh; background-color:$sauge; padding:4em 2em;
            img { display:block; margin:auto; width:50px; height:50px; } }
        &:last-child { height:8vh; background-color:$noir; padding:1.25em 2em;
            p { margin:0; text-align:right; font-family:sans-serif; font-size:0.65em; color:$bronze; }
            a { color:$sauge; text-decoration:none;
                &:hover { opacity:0.5; } } }
    }
}

.overlay { position: fixed; top: 0; left: 0; width:100vw; height: 100vh; display:none; background-color: rgba(255, 255, 255, 0.85); align-items: center; justify-content: center; flex-direction: column; cursor: pointer;
            a { margin:1em; color:$bronze; font-family:'FFOCR-FWebProLight', monospace; text-decoration:none; font-size:1.5em; 
                &:hover { opacity:0.5; } }
            img { height:50px; width:50px; margin-top:5em;} }

#menu { position:fixed; left:0; top:0; width:100%; height:60px; background-color:$sauge; z-index:4; font-family:"adobe-caslon-pro", serif; display:none;
    ul { padding:0.5em; margin:auto; list-style:none; text-align:center; font-style:italic; }
    li { display:inline; padding:0 1em; font-family:"adobe-caslon-pro", serif; font-size:1.4em; }
    img { width:40px; height:40px;
        &:hover { opacity:0.5; } }
    a { text-decoration:none; color:$bronze; position: relative; display: inline-block; outline: none;
        &:hover, &:focus { outline: none; } } }

//// A OVER EFFECT
.cl-effect-21 a {
    &::after { position:absolute; left:0; width:100%; height:2px; background:$bronze; content:''; opacity:0; transition:opacity 0.3s, transform 0.3s; bottom:0; transform:translateY(-3px); }
    &:hover, &:focus { opacity:0.5; color:$bronze; }
    &:hover::after, &:focus::after { opacity:0.5; transform:translateY(-7px); } }        

.email a {
    &::after { bottom:0; transform:translateY(-3px); }
    &:hover::after, &:focus::after { opacity:0.5; transform:translateY(-11px); } }
////

.accordion { padding: 0; width: 100%; }

.accordion .accordion-navigation a>.class.select { cursor:default;
    .class-second { background-color:$bronze; }
}

.accordion .accordion-navigation a>.class { color:$beige; width:100%; height:70px; display:flex;

    &:hover .class-second { background-color:$bronze; }

        .class-first {
            width:15%; background-color:$noir; font-family:'FFOCR-FWebProLight', monospace; font-size:1.5em; text-align:center;
            p { margin:0; line-height:70px; }
        }
        .class-second { display:flex;
            width:85%; background-color:$sauge; font-family:serif; text-align:center; font-size:1.5em;
            h3 { margin:0; line-height:70px; font-weight:normal; width:90%; }
            #close { display:none; width:10%; font-family:'FFOCR-FWebProLight', monospace; font-size:1em; color:$noir; line-height:70px; font-weight:bold; cursor:pointer; }
        }
}

.accordion .accordion-navigation>.content.active { display:flex; width:100%; height:100%; background-color:$beige; padding:0; 
    .active-first { width:15%; background-color:$beige; //border-width:0 1px 0 1px; border-style:solid; border-color:$noir;
        ul { list-style:none; padding:0; color:$bronze; font-family:'FFOCR-FWebProLight', monospace; text-decoration:none; font-size:0.75em; margin:0;
            li { padding:2.5em 0; margin:0; text-align:center;}
        }
    }
    .active-second { width:85%; height:100%; padding:0; margin:0; }
}



.accordion .content.active {//display:flex; width:100%; height:100%;
    // .active-first { width:15%; background-color:$beige;
    //     ul { list-style:none; padding:0; color:$bronze; font-family:'FFOCR-FWebProLight', monospace; text-decoration:none; font-size:0.75em; margin:0;
    //         li { padding:2.5em 0; margin:0; text-align:center;}
    //     }
    // }
    // .active-second { width:85%; height:100%; padding:0; margin:0; }
}
    
.accordion a { padding:0 !important; text-decoration:none !important; background-color:$bronze !important;}